body {
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

.subheading {
    font-family: 'Noto Sans TC', sans-serif;
	color: #6dd5e3!important;

}


.bg-primary{
	background-color: #6dd5e3!important;
	background-image: url(../assets/img/always-grey.png);
}